server {
    listen {{ network_topology["private"]["address"] }}:{{ cinder.api_port.cont }};
    include common/ssl.conf;

    location / {
        proxy_pass http://cinder_api;
        include common/proxy-headers.conf;
    }
}